body {
    text-align: center;
    padding-bottom: 50px;
    background-image: url(codecademy_bg.jpg);
}
h1 {
    color: #03045e;
    font-size: 80px;
    border-top: solid #c32530;
    border-radius: 5px;
    border-width: 10px;
}
button {
    color: #03045e;
    font-size: 30px;
    background-color: #f8edeb;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: absolute;
    bottom: 10px;
    left: 37%;
}
button:hover {
    background-color: lightgrey;
}
#random_message {
    font-size: 40px;
    color: #023e8a;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);
    padding: 10px;
}
.message {
    border-bottom: solid #c32530;
    border-radius: 5px;
    border-width: 10px;
    top: 500px;
    position: relative;
  }